.shop-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 260px);
  margin-top: 20px;
}

.img-container {
  border: 5px solid black;
  padding: 10px;
  margin-left: 10px;
  position: relative;
  margin-top: 10px;
}

.shop-img {
  height: 90%;
  width: 100%;
}
.shop-price {
    display: inline-block;
}

.shop-to-cart {
   display: inline;
   position: absolute;
   right: 10px;
   font-size: 20px;
   bottom: -15px;
   
}

.title {
    text-align: center;
}

@media only screen and ( max-width: 400px){
  .shop-img {
    height: 100%;
    width: 100%;
  }
  .img-container {
    margin-right: 5px;
    height: 150px;
  }
  .shop-price{
    font-size: 15px;
    position: absolute;
    left: 0px;
    bottom: -15px;
  }
  .shop-to-cart {
    right: 6px;
  }
  .shop-container{
    grid-template-columns: repeat(2, 1fr);
  }
}